@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flex-container {
    @apply flex gap-2;
  }

  .button-like {
    @apply text-nowrap px-4 py-2 text-sm uppercase rounded-md select-none;
  }

  .dropdown-list-container {
    @apply absolute mt-2 w-full overflow-x-hidden rounded-md shadow-lg ring-2;
    @apply bg-slate-50 ring-black/5;
  }

  .dropdown-list-option {
    @apply truncate h-12 button-like rounded-none;
    @apply flex items-center justify-between;
  }

  .chart-background {
    flex: 1;
    @apply relative max-h-[50%];
    @apply flex flex-col justify-start items-center;
  }

  .has-scroll {
    @apply overflow-hidden overflow-y-auto -m-2 p-2;
    scrollbar-width: thin;
  }
}

main a {
  @apply underline rounded-md;
  @apply text-slate-300;
  &:hover,
  &:focus {
    @apply text-slate-50;
  }
}

html {
  @apply h-full;
  scrollbar-width: none;
  scrollbar-color: #f8fafc transparent;
}

body {
  @apply text-slate-50 fill-slate-50 h-full;
  font-family: 'Nunito', sans-serif;
}

#app {
  @apply h-full p-4 relative overflow-hidden;
  @apply flex flex-col gap-6;
  @apply bg-gradient-to-b from-sky-600 to-sky-800 to-80%;
}

:focus {
  @apply outline outline-2 outline-offset-[3px];
  @apply outline-sky-500;
}

:not(.outline-override) > :focus {
  @apply outline-slate-50;
}
