@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  @apply h-full p-4 relative overflow-hidden;
  @apply flex flex-col gap-6;
  @apply bg-gradient-to-b from-sky-600 to-sky-800 to-80%;
}

:focus {
  @apply outline outline-2 outline-offset-[3px];
  @apply outline-slate-50;

  .outline-override > & {
    @apply outline-sky-500;
  }
}

@layer base {
  html {
    @apply h-full;
    scrollbar-width: none;
    scrollbar-color: #f8fafc transparent;
  }

  body {
    @apply text-slate-50 fill-slate-50 h-full;
    font-family: 'Nunito', sans-serif;
  }

  a {
    @apply rounded-md;
    @apply fill-slate-50;
    &:hover {
      @apply text-slate-200 fill-slate-200;
    }
  }

  canvas {
    image-rendering: pixelated;
  }
}

@layer components {
  .button-like {
    @apply text-nowrap px-4 py-2 text-sm uppercase rounded-md select-none tracking-wider cursor-pointer;
  }

  .label-like {
    @apply text-sm uppercase;
  }

  .dropdown-list-container {
    @apply absolute mt-2 w-full overflow-x-hidden rounded-md shadow-lg ring-2;
    @apply bg-slate-50 ring-black/5;
  }

  .dropdown-list-option {
    @apply truncate h-12 button-like rounded-none;
    @apply flex items-center justify-between;
  }

  .text-link {
    @apply underline;
    @apply text-slate-300 hover:text-slate-50 focus:text-slate-50;
  }

  .tippy-box {
    @apply mx-2;
    @apply bg-sky-950;
  }

  .tippy-content {
    @apply px-2 text-sm;
    @apply text-slate-50;
  }

  .tippy-box[data-placement^='top'] > .tippy-arrow::before {
    border-top-color: #082f49;
  }
  .tippy-box[data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: #082f49;
  }
  .tippy-box[data-placement^='left'] > .tippy-arrow::before {
    border-left-color: #082f49;
  }
  .tippy-box[data-placement^='right'] > .tippy-arrow::before {
    border-right-color: #082f49;
  }

  .flex-container {
    @apply flex gap-2;
  }
}

@layer utilities {
  .has-scroll {
    @apply overflow-auto min-h-0 -m-2 p-2;
    @apply flex-grow;
    scrollbar-width: thin;
  }
}
