@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg-alternative: #f9fafb;
  --color-text: #f9fafb;
  --color-text-alternative: #1f2937;
  --color-link-hover: #e5e7eb;
  --color-focus-outline: #f9fafb;
  --color-primary: #0ea5e9;
  --color-primary-hover: #0284c7;
  --color-primary-active: #0369a1;
  --color-ui-dark: #0c4a6e;
  --color-theme: #0284c7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-alternative: #e5e7eb;
    --color-text: #e5e7eb;
    --color-text-alternative: #1f2937;
    --color-link-hover: #f9fafb;
    --color-focus-outline: #e5e7eb;
    --color-primary: #0284c7;
    --color-primary-hover: #0369a1;
    --color-primary-active: #075985;
    --color-ui-dark: #0c4a6e;
    --color-theme: #082f49;
  }
}

#app {
  @apply h-full p-4 relative overflow-hidden;
  @apply flex flex-col gap-4;
  @apply bg-gradient-to-b from-sky-600 to-sky-800 to-80% dark:bg-none dark:bg-sky-950;
}

:focus-visible {
  @apply outline outline-2 outline-offset-[3px];
  @apply outline-[--color-focus-outline];

  .outline-override > &,
  &.outline-override {
    @apply outline-[--color-theme];
  }
}

@layer base {
  html {
    @apply h-full;
    scrollbar-width: none;
    scrollbar-color: var(--color-text) transparent;
  }

  body {
    @apply text-[--color-text] fill-[--color-text] h-full;
    font-family: 'Nunito', sans-serif;
  }

  a {
    @apply rounded-md;
    @apply text-[--color-text] fill-[--color-text] hover:text-[--color-link-hover] hover:fill-[--color-link-hover];
  }

  canvas {
    image-rendering: pixelated;
  }
}

@layer components {
  .button-like {
    @apply flex-container items-center;
    @apply text-nowrap px-4 py-2 text-sm uppercase rounded-md select-none tracking-wider cursor-pointer;
  }

  .label-like {
    @apply text-sm uppercase;
  }

  .dropdown-list-container {
    @apply absolute mt-2 w-full overflow-x-hidden rounded-md shadow-lg;
  }

  .dropdown-list-option {
    @apply truncate h-12 button-like rounded-none;
    @apply flex items-center justify-between;
  }

  .text-link {
    @apply underline;
    @apply text-gray-300 hover:text-[--color-text];
  }

  .flex-container {
    @apply flex gap-2;
  }

  .has-scroll {
    @apply overflow-auto min-h-0 -m-2 p-2;
    @apply grow;
    scrollbar-width: thin;
  }
}

.tippy-content {
  @apply px-2 text-sm;
  @apply text-[--color-text];
}

.tippy-box {
  @apply mx-2;
  @apply bg-[--color-ui-dark];

  &[data-placement^='top'] > .tippy-arrow::before {
    border-top-color: var(--color-ui-dark);
  }

  &[data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: var(--color-ui-dark);
  }

  &[data-placement^='left'] > .tippy-arrow::before {
    border-left-color: var(--color-ui-dark);
  }

  &[data-placement^='right'] > .tippy-arrow::before {
    border-right-color: var(--color-ui-dark);
  }
}
