@import 'tailwindcss';

@theme static {
  --color-surface: #f9fafb;
  --color-fg: #fff;
  --color-fg-inverse: #1f2937;
  --color-link-hover: #e5e7eb;
  --color-focus: #f9fafb;
  --color-primary: #0ea5e9;
  --color-primary-hover: #0284c7;
  --color-primary-active: #0369a1;
  --color-surface-dark: #0c4a6e;
  --color-theme: #0284c7;
  --color-danger: #ef4444;
  --color-danger-hover: #dc2626;
  --color-danger-active: #991b1b;
  --color-selected: #22c55e;
  --color-selected-hover: #16a34a;

  --font-sans: 'Open Sans', sans-serif;
  --font-branding: 'Bungee Shade', cursive;
  --font-numeric: 'Nunito', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-surface: #e5e7eb;
    --color-fg: #e5e7eb;
    --color-fg-inverse: #1f2937;
    --color-link-hover: #f9fafb;
    --color-focus: #e5e7eb;
    --color-primary: #0284c7;
    --color-primary-hover: #0369a1;
    --color-primary-active: #075985;
    --color-surface-dark: #0c4a6e;
    --color-theme: #082f49;
    --color-danger: #b91c1c;
    --color-danger-hover: #dc2626;
    --color-danger-active: #991b1b;
    --color-selected: #15803d;
    --color-selected-hover: #16a34a;
  }
}

@layer base {
  html {
    @apply h-full;
    scrollbar-width: none;
    scrollbar-color: var(--color-fg) transparent;
  }
  
  body {
    @apply font-sans text-fg fill-fg h-full;
  }

  button:not(:disabled):not([aria-disabled='true']),
  [role='button']:not(:disabled):not([aria-disabled='true']) {
    cursor: pointer;
  }

  a {
    @apply rounded-md;
    @apply text-fg fill-fg hover:text-link-hover hover:fill-link-hover;
  }

  canvas {
    image-rendering: pixelated;
  }

  #app {
    @apply h-full p-4 relative overflow-hidden;
    @apply flex flex-col gap-4;
    @apply bg-linear-to-b from-sky-600 to-sky-800 to-80% dark:bg-none dark:bg-sky-950;
  }

  :focus-visible {
    @apply outline-2 outline-offset-[3px];
    @apply outline-focus;

    .focus-themed > &,
    &.focus-themed {
      @apply outline-theme;
    }
  }
}

@utility button-like {
  @apply cluster items-center;
  @apply text-nowrap px-4 py-2 label-like tracking-wider rounded-md select-none cursor-pointer;
}

@utility label-like {
  @apply text-sm uppercase;
}

@utility dropdown-list-container {
  @apply rounded-md mt-2 mb-2 shadow-lg;
  @apply bg-surface;
  scrollbar-width: thin !important;
  scrollbar-color: initial !important;
  width: var(--reka-select-trigger-width, var(--reka-combobox-trigger-width));
}

@utility dropdown-list-heading {
  @apply cluster justify-between;
  @apply select-none p-2 pr-4;
  @apply bg-surface-dark;
}

@utility dropdown-list-option {
  @apply truncate h-12 button-like rounded-none;
  @apply justify-between;
  @apply text-fg-inverse fill-fg-inverse;
  touch-action: manipulation;
  &[data-state='checked'] {
    @apply bg-primary-active text-fg fill-fg;
  }
  body:not([data-input='touch']) &[data-highlighted] {
    @apply bg-primary-hover text-fg fill-fg;
  }
}

@utility link {
  @apply underline;
  @apply text-gray-300 hover:text-fg;
}

@utility cluster {
  @apply flex gap-2;
}

@utility scrollable {
  @apply overflow-auto min-h-0 -m-2 p-2;
  @apply grow;
  scrollbar-width: thin;
}

@utility scrollable-flush {
  @apply m-0 p-0;
}

.tippy-content {
  @apply px-2 text-sm;
  @apply text-fg;
}

.tippy-box {
  @apply mx-2;
  @apply bg-surface-dark;

  &[data-placement^='top'] > .tippy-arrow::before {
    border-top-color: var(--color-surface-dark);
  }

  &[data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: var(--color-surface-dark);
  }

  &[data-placement^='left'] > .tippy-arrow::before {
    border-left-color: var(--color-surface-dark);
  }

  &[data-placement^='right'] > .tippy-arrow::before {
    border-right-color: var(--color-surface-dark);
  }
}
